@import "./_setting.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

.App {
  height: 100vh;
  overflow: hidden;
  background-color: $board-bg-color;
  color: $app-main-text-color;

  .icon {
    font-size: 1.4rem;
    margin-right: 3px;
  }
}
